


<ion-tabs class="tabs-icon-top" ng-class="{'tabs-item-hide': $root.hideTabs}">

    <!-- 主页 -->
    <ion-tab title="天天撸" icon-off="icon icon-home" icon-on="icon icon-home" ng-click="stateGo('tab.home','home')">
        <ion-nav-view name="tab_home"></ion-nav-view>
    </ion-tab>

    <!-- 我的礼品 -->
    <ion-tab title="兑奖中心" icon-off="icon icon-gift" icon-on="icon icon-gift" ng-click="stateGo('tab.gift','gift')">
        <ion-nav-view name="tab_gift"></ion-nav-view>
    </ion-tab>

    <!-- 个人信息 -->
    <ion-tab title="电竞之家" icon-off="icon icon-me" icon-on="icon icon-me" ng-click="stateGo('tab.me','me')">
        <ion-nav-view name="tab_me"></ion-nav-view>
    </ion-tab>

</ion-tabs>
